#WhatsApp number to be used by the bot, in international format without "+" or spaces
#Example: 6281234567890
PHONE_NUMBER=

#List of superuser/admin numbers or JIDs with access to restricted commands
#Optional. Separate multiple numbers with commas.
#Example: 6281234567890,6289876543210
SUPERUSER=
